<div>
    <h3>{{blog.title}}
        <small class="fa-small">{{{editIcon blog.user me blog._id false}}}</small>
    </h3>
</div>
<div class="blog-subtitle">
    <img src="{{blog.user.image}}" alt="User image" class="circle responsive-img img-small">
    <a href="/blogs/user/{{blog.user._id}}">
        <span class="blogger-name">{{blog.user.displayName}}</span>
    </a>
    <span class="blog-date right">{{formatDate createAt 'MMMM Do YYYY'}}</span>
</div>
    <div class="ck-content">
        {{{blog.body}}}
    </div>

<div class="row">
    <div class="col s12">
        <div class="card center-align">
            <div class="card-content">
                <div class="card-title">
                    {{blog.user.displayName}}
                </div>
                <img src="{{blog.user.image}}" alt="User image" class="circle responsive-img img-medium">
            </div>
            <div class="card-action">
                <a href="/blogs/user/{{blog.user._id}}">More From {{blog.user.displayName}}</a>
            </div>
        </div>
    </div>
</div>